{{#with data.products}}
            {{#if isEmpty}}
            <mark>There are no products</mark>
            {{else}}
            <ul>
                {{#each list}}
                    <li> {{name}} </li>
                    <li>{{description}}</li>
                    <li>{{id}}</li>
                    <li>{{price}}</li>
                    <li><a href="/product-update/{{id}}">Update</a></li>
                {{/each}}
            </ul>
            {{/if}}
 {{/with}}