
{{#with data}}
<div class="card product-card">
    <img src="{{img}}" alt="{{title}}" class="card-img-top product-card__image">
    <div class="card-body">
    <h2 class="card-title product-card__title">{{title}}</h2>
    <p class="card-text product-card__subtitle">{{description}}</p>
    </div>
    
        {{#each category}}
        <div class="product-card-category">
            <span class="product-card__category product-card__category--{{id}}">{{text}}</span>
        </div>

    
    {{/each}}
    
    <div class="purchase-btn">
<a href="/purchase-product?id={{id}}" class="btn btn-primary">Купити зараз {{price}} грн</a>
    </div>

</div>
{{/with}}



