<div class="field {{#if disabled}} field--disabled {{/if}}" >
    <label for="name" class="field_label">{{label}}</label>
    <input type="{{#if type}} {{type}} {{/if}}" name="{{name}}" id="{{name}}" class="field_input" value="{{#if value}} {{value}} {{/if}}">
</div>